<!DOCTYPE html>
<html>
  <head>
    <title><%= productName %></title>

    <meta charset="utf-8">
    <meta name="description" content="<%= productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">
    <!-- <meta http-equiv="Content-Security-Policy" content="
      default-src 'self' 'unsafe-eval' https://*.google.com/;
      media-src 'self' https://*.google.com/;
      style-src 'self' 'unsafe-inline';
      img-src 'self';
      script-src 'self' https://*.google.com/ 'unsafe-eval';
      child-src 'none'; 
      object-src 'none'
      " /> -->


      <!-- <meta http-equiv="Content-Security-Policy" content="
      object-src 'none';
      base-uri 'self';
      script-src 'unsafe-eval' 'unsafe-inline' 'self' https://apis.google.com https://ssl.gstatic.com https://www.google.com https://www.googletagmanager.com https://www.gstatic.com https://www.google-analytics.com;
      frame-src https://drive.google.com;
      " /> -->


      <!-- <meta http-equiv="Content-Security-Policy" content="frame-src 'self' https://*.google.com; img-src 'self' https://*.google.com"> -->


      <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self' 'unsafe-eval' 'unsafe-inline'  https://docs.google.com; img-src 'self' https://docs.google.com"> -->



    <link rel="icon" type="image/png" href="app-logo-128x128.png">
    <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="icons/favicon-96x96.png">
    <link rel="icon" type="image/ico" href="icons/favicon.ico">

    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="icons/apple-icon-180x180.png">
  </head>
  <body>
    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>
  </body>
</html>
